Screen {
    align: center middle;
    background: black;
    hatch: left $primary-background;
}

#msg {
    border: round $secondary;
    background: $panel;
    padding: 1 2;
    color: $secondary;
}
